{% extends "base.html" %}
{% block content %}
<style>
    .list-group-item {
        background-color: #f1f1f1;
        border-top: 1px solid #ddd;
    }
</style>
<div class="form-group" style="margin-right: 50%;">
    <form action="" method="POST">

        {%csrf_token%}
        {{form.as_p}}
        <p>
            <button type="submit" class="btn btn-dark" style="border-radius: 10px;" value="Save">Add <i
                    class="fa-solid fa-user-plus"></i></button>
        </p>

        {% if messages %}
        {% for message in messages %}
        {% if message.tags %} {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
        <i class="fa-solid fa-circle-exclamation"></i>&nbsp;{{ message }}
        <br>
        {% endfor %}
        {% endif %}
        <br>

        <li class="list-group-item active bg-dark">Available Candidates:</li>
        {% for obj in object_list %}
        <li class="list-group-item"><strong>Name:</strong> {{obj.first_name}}&nbsp;{{obj.last_name}}<br><strong>Email:
            </strong>{{obj.email}}</li>
        {% endfor %}


    </form>
</div>
{% endblock %}