{% extends "base.html" %}
{% block content %}
<div class="form-group" style="padding-right: 900px;">
    <form action="" method="POST">
        {%csrf_token%}
        {{form.as_p}}
        {% if messages %}

        {% for message in messages %}
        {% if message.tags %} {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
        <i class="fa-solid fa-circle-exclamation"></i>&nbsp;{{ message }}
        {% endfor %}

        {% endif %}
        <button type="submit" class="btn btn-dark" value="Save" style="border-radius: 10px; margin-top: 10px;">Submit</button>
    </form>
</div>




{% endblock %}